{% extends '@App/layout.html.twig' %}
{% block title %} 404 not found {% endblock %}
{% block body %}
   <div class="alert alert-danger">404 not found</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}