{% extends '@App/layout.html.twig' %}
{% block title %} Feedback {% endblock %}
{% block body %}
    <h1> Feedback page </h1>
    {{ form(feedback_form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}